<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="https://images.creativemarket.com/0.1.0/ps/19689238/910/607/m2/fpnw/wm1/sstk_744378424_13570355.jpg-.jpg?1&s=b1c573362ecaf55cb4a622b69c7fc4ee&fmt=webp" class="d-block w-100" alt="...">
      <div class="text-position position-absolute text-light ">
        <p class="p-2 m-0">Leader in tranposrting things</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.creativemarket.com/0.1.0/ps/13162992/910/512/m2/fpnw/wm1/sstk_418741819_7645498.jpg-.jpg?1&s=7942328f395f16050f2e3dc7b7cdd8fb&fmt=webp" class="d-block w-100" alt="...">
      <div class="text-position position-absolute text-light ">
        <p class="p-2 m-0">Leader in tranposrting things</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.creativemarket.com/0.1.0/ps/18692156/910/575/m2/fpnw/wm1/ofkrgmkgcc5aqhsn7q5af4icwzjymdfiry6nck1h90yoo1nfbqackorhtljsvax3-.jpg?1675524943&s=61517e72cd3e7cc5616a10df0651201f&fmt=webp" class="d-block w-100" alt="...">
      <div class="text-position position-absolute text-light ">
        <p class="p-2 m-0">Leader in tranposrting things</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
