textarea{
  resize: none;
}



services-p{
  font-family: open-sans;
  color: #ffffff;


}

join-team-contact{
  color: #273045;
}

.carrousel-container{
padding: 0;

}

.carrousel-img{
  overflow: hidden;


}

.carrousel-img img{
  width: 100%;
/*  object-position: 0em -15em;*/
}

.contact-info{
/*  color:#025464;*/
color: #ffffff;

}

.about{
  background-color: #212529;
  color: #ffffff;
}

.float-label{
background-color: #212529;
opacity: 0.85;
border-radius: 20px;
}
.float-label  p{

color: #ffffff;
}

.text-position{
top: 20%;
left: 55%;
font-size: 1.5rem;
width: 40%;
background-color: white;

}

.img-icon{
  width: 15%;
}

.body-service{
  background-color: #212529;
  color: white;
}

.footer-contacus{
/*  background-color: #E57C23;*/
background-color: #212529;
  padding-bottom: 10%;
}

.values-list{
  padding-top: 7%;
  padding-bottom: 7%;
}
