textarea{
  resize: none;
}

h{

}

p{
  font-family: open-sans;
  color: black;

}

.text-position{
top: 30%;
left: 40%;
font-size: 1.5rem;
width: 40%;
background-color: white;

}

.img-icon{
  width: 15%;
}

.body-service{
  background-color: #025464;
  color: white;
}

.footer-contacus{
  background-color: #E57C23;
  padding-bottom: 10%;
}
