<div class="container container-job" id="job-container">
  <div class="row">
    <div class="col text-center">
      <h1>ONLINE TRANSPORT OFFERS EMPLOYMENT OPPORTUNITY</h1>
      <p>If you are looking for a job opportunity, apply with us fill out the following form to send your information</p>

    </div>

  </div>
  <form>
    <div class="row ">
      <div class="col-md-6 py-2">
        <input class="form-control" id="inputName" type="text" placeholder="Name">
      </div>
      <div class="col-md-6 py-2">
        <input class="form-control" id="inputAdress" type="text" placeholder="Address">
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 py-2">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="col-md-6 py-2">
        <input class="form-control" id="inputPhone" type="tel" placeholder="Phone Number">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-2">
        <select class="form-select" aria-label="Default select example">
          <option selected>Experience</option>
          <option value="1">Reefer</option>
          <option value="2">Dry</option>
          <option value="3">Both</option>
        </select>
      </div>
      <div class="col-md-6 py-2">
        <select class="form-select" aria-label="Default select example">
          <option selected>Type of license</option>
          <option value="1">CDL</option>
          <option value="2">Federal</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-2">
        <input class="form-control" id="inputYol" type="text" placeholder="Year of Issue of license">
      </div>
      <div class="col-md-6 py-2">
        <input class="form-control" id="inputName" type="text" placeholder="Are you currently working for a company, which one?">
      </div>
    </div>
    <div class="row">
      <div class="col py-2">
        <textarea class="form-control" id="inputTextArea" rows="3" placeholder="Most Frequent routes"></textarea>
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-primary " name="button">Submit</button>
</div>
