<!-- <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark nav-bar-custom">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contacus">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Job Oportunity</a>
        </li>
      </ul>
    </div>
</nav> -->
<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-md ">
    <a href="#" class="navbar-brand px-2">logoOT</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contacus">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Job Oportunity</a>
        </li>
      </ul>
    </div>
</nav>
